<div class="cor-fundo">
    <img class="logo" src="../../assets/pokeapi.png" alt="">
</div>

<div class="container">
    <h1>{{ pokemon['name'] | primeiraMaiuscula }}</h1>
    
    <div class="row" >
        
        
        
        <div class="col-lg-4"> 
            <div class="row">
                <label for="">ID: </label>
            </div>           
            
            
            <div class="row">
                <div class="col-lg-12">
                    <label >Tipo: </label> 
                    <div *ngFor="let type of pokemon['types']; let i=index"  style="display: inline;">                       
                        <p  class="type"
                         [ngClass]="{'poison': pokemon['types'][i]['type']['name'] == 'poison',
                        'fire': pokemon['types'][i]['type']['name'] == 'fire'}"                        
                        
                        > {{ pokemon['types'][i]['type']['name'] | primeiraMaiuscula }}</p>   
                    </div>  
                </div>
           
        </div>
            
            
            
        </div>
        
        
        <div class="col-lg-4"> //TODO GIF Animation </div>
        
        
        <div class="col-lg-4"> //TODO Mais dados </div>
    </div>
    
</div>






