h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    text-align: center;
    color: white;
    background-color: rgba(250, 93, 93,0.801); 
}

.row{
    margin-top: 20px;
}

.type{
    display: inline;
    padding: 1px 10px;
    border-radius: 10px;
}

.poison{
    background-color: rgb(186, 243, 112);
}

.fire{
    background-color: rgb(250, 52, 52);
}