<div class="cor-fundo">
    <img class="logo" src="../assets/pokeapi.png" alt="">
</div>

<div class="container" >

    <div class="row">
        <div class="col-md-2 "></div>
        <div class=" col-md-4 col-sm-12">
            <input type="text" class="form-control" placeholder="Digite nome do Pokémon">
        </div>
        <div class=" col-md-4 col-sm-12">
            <select class="form-select" >
                <option disabled selected>Selecione o elemento</option>
                <option value='{{ tipo}}' *ngFor="let tipo of listaElementos"> {{ tipo }}</option>
            </select>
        </div>
        <div class="col-md-2 "></div>
    </div>
    
    <div *ngFor="let pokemon of listaPokemon; let i=index" class="col-lg-3 col-md-4 col-sm-5  tabela-pokemon">  
            <div class="card-pokemon">                
                <img [src]="listaPokemon[i]['sprites']['front_default']" class="img-pokemon">  
                <button class="btn btn-pokemon" [routerLink]="['pokemon/' , listaPokemon[i]['name']]" routerLinkActive="router-link-active" >{{ listaPokemon[i]['name'] | primeiraMaiuscula }}</button>
            </div>
    </div>      
</div>
