<div class="cor-fundo">
    <img class="logo" src="../assets/pokeapi.png" alt="">
</div>

<div class="container" >  

     <div class="row">
        <div class="col-md-2 "></div>
        <div class=" col-md-4 col-sm-12">
            <input type="text" class="form-control" placeholder="Digite nome do Pokémon" #nome (blur)="pesquisaNome(nome.value)">
        </div>
        <div class=" col-md-4 col-sm-12">       
            <select class="form-select " (change)="onChange($event.target)"  >
                <option  value="todos">Todos</option>
                <option  class="font-option" value='{{ tipo}}' *ngFor="let tipo of listaElementos"> {{ tipo }}</option>
            </select>       
        </div>
        <div class="col-md-2 "></div>
    </div>
    
    <div *ngFor="let pokemon of listaPokemon; let i=index" class="col-lg-3 col-md-4 col-sm-5  tabela-pokemon" >  
            <div class="card-pokemon"
            [ngClass]="{
                'poison': pokemon['types'][0]['type']['name'] == 'poison',
                'fire': pokemon['types'][0]['type']['name'] == 'fire',
                'grass': pokemon['types'][0]['type']['name'] == 'grass',
                'water': pokemon['types'][0]['type']['name'] == 'water',
                'bug': pokemon['types'][0]['type']['name'] == 'bug',
                'normal': pokemon['types'][0]['type']['name'] == 'normal',
                'electric': pokemon['types'][0]['type']['name'] == 'electric'
            }"            
            
            >                
                <img [src]="listaPokemon[i]['sprites']['front_default']" class="img-pokemon">  
                <button class="btn btn-pokemon"   [routerLink]="['pokemon/' , listaPokemon[i]['name']]" routerLinkActive="router-link-active" >{{ listaPokemon[i]['name'] | primeiraMaiuscula }}</button>
            </div>
    </div>  
     
</div>



 
 