/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('/assets/papelfunddo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cor-fundo{
    background-color: rgba(255, 25, 25, 0.801);
    height: 120px;
    box-shadow: 0px 0px 10px 2px white;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
}

.card-pokemon{
    border: 0.5px solid rgba(0, 0, 0, 0.541);   
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0px 13px 15px 3px black;
}

.btn-pokemon:hover{
    background-color:rgba(236, 41, 41, 0.801);
    font-weight: 700;
    padding: 5px 18px
    
}

.btn-pokemon {
    display: block;  
    background-color:rgba(250, 93, 93,0.801);    
    border-radius: 20px;
    margin-left: 13px;
    padding: 5px 20px;   
   
}